.product-table {
    width: 100%;
    border: 1px solid lightgrey;
    tr td {
        border: 1px solid lightgrey;
        padding: 3px;
    }
    tr th {
        border: 1px solid lightgrey;
        padding: 3px;
    }
}